include ../../utils/mixins
// menu
nav.menu
    img(src="../dist/images/logo.png", alt="")
    +menu(
        ["Trang chủ", "Rượu vang đỏ", "Rượu vang trắng", "Champagne", "Thông tin", "Blog", "Liên hệ"],
        "menu__list",
        "menu__item",
        "#"
    )(class= "menu__link")



